/* This is the original slideshow designed for 4 pictures. For 2, I simply repeat the two img tags*/
@keyframes slideshow {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 1;
    }
    5% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.slideshow-1 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 0s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.slideshow-2 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 5s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

.slideshow-3 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 10s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -3;
}

.slideshow-4 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 15s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -4;
}

.slideshow-5 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 20s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -5;
}

.slideshow-6 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 25s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -6;
}

.slideshow-7 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 30s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -7;
}

.slideshow-8 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 35s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -8;
}

.slideshow-9 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 40s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -9;
}

.slideshow-10 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 45s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -10;
}

.slideshow-11 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 50s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -11;
}

.slideshow-12 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 55s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -12;
}

.slideshow-13 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 60s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -13;
}

.slideshow-14 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 65s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -14;
}

.slideshow-15 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 70s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -15;
}

.slideshow-16 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 75s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -16;
}

.slideshow-17 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 80s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -17;
}

.slideshow-18 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 85s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -18;
}

.slideshow-19 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 90s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -19;
}

.slideshow-20 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 95s;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -20;
}

/*.slideshow-21 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 100s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -21;*/
/*}*/

/*.slideshow-22 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 105s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -22;*/
/*}*/

/*.slideshow-23 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 110s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -23;*/
/*}*/

/*.slideshow-24 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 115s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -24;*/
/*}*/

/*.slideshow-25 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 120s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -25;*/
/*}*/

/*.slideshow-26 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 125s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -26;*/
/*}*/

/*.slideshow-27 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 130s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -27;*/
/*}*/

/*.slideshow-28 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 135s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -28;*/
/*}*/

/*.slideshow-29 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 140s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -29;*/
/*}*/

/*.slideshow-30 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 145s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -30;*/
/*}*/

/*.slideshow-31 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 150s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -31;*/
/*}*/

/*.slideshow-32 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 155s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -32;*/
/*}*/

/*.slideshow-33 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 160s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -33;*/
/*}*/

/*.slideshow-34 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 165s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -34;*/
/*}*/

/*.slideshow-35 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 170s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -35;*/
/*}*/

/*.slideshow-36 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 175s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -36;*/
/*}*/

/*.slideshow-37 {*/
    /*opacity: 0;*/
    /*animation-name: slideshow;*/
    /*animation-delay: 180s;*/
    /*animation-duration: 100s;*/
    /*animation-iteration-count: infinite;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: -37;*/
/*}*/

