body {
    margin: auto;
    max-width: 990px
}

.under-construction {
    width: 80%;
    max-width: 400px;
}

.head-image {
    position: relative;
    top: 150px;
    width: 100%;
    margin-bottom: 150px;
}

@keyframes slideshow {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.slideshow-1 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 0s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    z-index: 1;
}

.slideshow-2 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 5s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.slideshow-3 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 10s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}

.slideshow-4 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 15s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 4;
}

.max-width {
    width: 100% !important;
}
