<nav class="navbar-inverse">
    <ul class="nav nav-justified">
        <li role="presentation"><a href='#!/home'>Home</a></li>
        <li role="presentation"><a href='#!/about'>About PlayaBright</a></li>
        <li role="presentation"><a href='#!/faq'>Frequently Asked Questions</a></li>
        <li role="presentation"><a href='#!/gallery'>Gallery</a></li>
        <li role="presentation"><a href='#!/products'>Products</a></li>
        <li role="presentation"><a href='#!/contact'>Contact Us</a></li>
    </ul>
</nav>